<!DOCTYPE html>

<head>
	<title>Words With Friends Solver</title>
	<link rel="stylesheet" href="static/solver/css/styles.css"/>
</head>

<body>

	<div id="gameboard">
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>

		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
		<div class="space" draggable="false"></div>
	</div>

	<div id="tile-rack">
		<div class="rack-space" draggable="false"></div>
		<div class="rack-space" draggable="false"></div>
		<div class="rack-space" draggable="false"></div>
		<div class="rack-space" draggable="false"></div>
		<div class="rack-space" draggable="false"></div>
		<div class="rack-space" draggable="false"></div>
		<div class="rack-space" draggable="false"></div>
	</div>

	<button onclick="solve()">Get Best words</button>

	<div id="keyboard">
		<div class="key-tile" id="A" draggable="true"></div>
		<div class="key-tile" id="B" draggable="true"></div>
		<div class="key-tile" id="C" draggable="true"></div>
		<div class="key-tile" id="D" draggable="true"></div>
		<div class="key-tile" id="E" draggable="true"></div>
		<div class="key-tile" id="F" draggable="true"></div>
		<div class="key-tile" id="G" draggable="true"></div>
		<div class="key-tile" id="H" draggable="true"></div>
		<div class="key-tile" id="I" draggable="true"></div>
		<div class="key-tile" id="J" draggable="true"></div>
		<div class="key-tile" id="K" draggable="true"></div>
		<div class="key-tile" id="L" draggable="true"></div>
		<div class="key-tile" id="M" draggable="true"></div>
		<div class="key-tile" id="N" draggable="true"></div>
		<div class="key-tile" id="O" draggable="true"></div>
		<div class="key-tile" id="P" draggable="true"></div>
		<div class="key-tile" id="Q" draggable="true"></div>
		<div class="key-tile" id="R" draggable="true"></div>
		<div class="key-tile" id="S" draggable="true"></div>
		<div class="key-tile" id="T" draggable="true"></div>
		<div class="key-tile" id="U" draggable="true"></div>
		<div class="key-tile" id="V" draggable="true"></div>
		<div class="key-tile" id="W" draggable="true"></div>
		<div class="key-tile" id="X" draggable="true"></div>
		<div class="key-tile" id="Y" draggable="true"></div>
		<div class="key-tile" id="Z" draggable="true"></div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="static/solver/js/main.js"></script>
</body>